@import "tailwindcss";

@theme {
  --font-sans-jp: 'Noto Sans JP', sans-serif;  
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@media print {
  @page {
    margin: 10mm;
  }

  * {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}

html,
body {
  @apply font-sans-jp;
  font-size: 14px;
} 