@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sl-font: 'Noto Sans JP', sans-serif;
  --sl-nav-height: 3rem;
  --sl-content-width: 50rem;
  --sl-text-h1: 1.5rem; 
  --sl-text-h2: 1.25rem; 
  --sl-text-h3: 1.125rem; 
  --sl-text-h4: 1rem; 
  --sl-text-h5: 1rem;
}

.sl-markdown-content img {
  margin-top: 0 !important;
}

.page footer {
  display: none;
}

@media print {
  body {
    font-size: 15px;
  }

  .page .header,
  .page .sidebar,
  .page .right-sidebar-container {
    display: none;
  }

  .page .main-frame {
    padding: 0;
  }

  .page .main-pane {
    width: 100% !important;
    margin: auto 0 !important;
    --sl-content-margin-inline: auto !important;
  }

  .page-break {
    page-break-before: always;
  }

  @page {
    /* margin: 10mm; */
    size: 210mm 297mm; /* A4 */
  }
}
